<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Autogest.Extended.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Autogest.Extended.GTMotiveConnector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="GtInterfaceWSSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://estimate.mygtmotive.com/webservice/GtInterfaceWS.asmx?wsdl"
        binding="basicHttpBinding" bindingConfiguration="GtInterfaceWSSoap"
        contract="GTMotiveWS.GtInterfaceWSSoap" name="GtInterfaceWSSoap" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <Autogest.Extended.Properties.Settings>
      <setting name="Eticadata_Views_Autogest_Extended_GTMotiveWS_GtInterfaceWS"
        serializeAs="String">
        <value>https://estimate.mygtmotive.com/webservice/GtInterfaceWS.asmx</value>
      </setting>
    </Autogest.Extended.Properties.Settings>
  </applicationSettings>
</configuration>
