<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup><system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BoletinsAlojamentoSoap">
          <security mode="Transport" />
        </binding>
        <binding name="BoletinsAlojamentoSoap1" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IPmsToInterface" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:5000/Design_Time_Addresses/Suite.FiasService/ServicePmsToInterface" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPmsToInterface" contract="ServicePmsToInterface.IPmsToInterface" name="WSHttpBinding_IPmsToInterface">
        <identity>
          <userPrincipalName value="arsc@edata" />
        </identity>
      </endpoint>
      <endpoint address="https://siba.sef.pt/baws/boletinsalojamento.asmx" binding="basicHttpBinding" bindingConfiguration="BoletinsAlojamentoSoap" contract="siba.sef.pt.BoletinsAlojamentoSoap" name="BoletinsAlojamentoSoap" />
    </client>
  </system.serviceModel>
</configuration>
